@import url(http://fonts.googleapis.com/css?family=Aldrich);
body {
    font-family: 'Aldrich', sans-serif;
    overflow: hidden;
}
a {
    color: #06a;
}
a:hover {
    color: #09f;
}
a > img {
    border: none;
}
a.disabled > img {
    opacity: 0.4;
    cursor: default;
}
.slide {
    position: absolute;
    top: 0;
    left: -120%;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    transition: all 1s ease;
    margin-top: 20vh;
}
.slide.current {
    left: 0;
}
.slide > header {
    margin-top: 30px;
    font-size: 2em;
    text-align: center;
    border-bottom: 2px solid #eee;
}
.slide > p {
    margin-left: 10px;
    text-align: center;
}
footer img {
    height: 24px;
    width: 24px;
    vertical-align: middle;
    margin-top: -3px;
}
